:root {
    --darkbg: #000000;
    --darktext: #F3E9D3;
    --accentcyan: #79CDB1;
    --accentteal: #2AA198;
    --accentviolet: #6c71c4;
    --accentyellow: #b58900;
    --accentgreen: #859900;
    --medbg: #202020;
    --lightbg: #FDF6E3;
    --lighttext: #586E75;
}

/* Header Styles */

header {
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 3em;
}

h3 {
	font-weight: bold;
	font-size: 2em;
	margin-top: 10%;
}

h3+p {
    padding-top: 8px;
}


nav :nth-child(2n) {
    background-color: var(--accentyellow);
}

nav ul {
	font-size: 0.75em;
	margin-left: 8%;
	margin-right: 8%;
	padding: 2.5em;
}

nav li {
	background-color: var(--accentviolet);
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2%;
	padding-bottom: 2%;
}



/* Link Styles */

:visited {
    color: var(--accentyellow);
}

a {
    color: var(--accentteal);
}

:hover {
    color: var(--accentcyan);
}

nav a {
    color: var(--darkbg);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
}



/* Content Styles */

body {
    background-color: var(--darkbg);
    color: var(--darktext);
    font-family: sans-serif;
	margin-left: 8%;
	margin-right: 8%;
	padding: 3em;
	border-radius: var(--border-curve);
}

div p:first-child:first-letter {
    font-size: 20px;
    color: var(--accentgreen);
}

div p:first-child:first-line {
    font-style: italic;
}

hr {
    color: var(--darktext);
}

section.location-card {
    background-origin: content-box;
    background-image: url("../images/beans.jpg");
    border-color: var(--accentcyan);
    border-radius: 30px;
    border-style: solid; border-width: 2px 2px 2px 2px;
    border-image: url("../images/bean.jpg") 30 round;
    width: 800px;
    padding: 5px;
    margin: 30px;
}

.location-card>p {
    padding: 15px;
    margin: 10px;
    color: white;
}
.location-card>h3 {
    padding: 10px;
    margin: 10px;
    color: white;
}



/* Footer Styles */

footer>p {
    font-size: 14px;
}